<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New number</title>
</head>
<body>
<h2>Add new number</h2>
<br>
<br>
<form th:method="POST" th:action="@{/addNumber/{id}(id=${newNumberWithOwner.person.personId})}" th:object="newNumberWithOwner">
    <br>
    <label for="number">Phone number</label>
    <input type="text" th:field="*{newNumberWithOwner.phoneNumber}" id="number">

    <br>
    <label for="person">For person: </label>
    <input type="text" th:field="*{newNumberWithOwner.person.firstName}" id="person">
    <br>
    <input type="submit" value="Add new number!">
</form>
</body>
</html>